* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Outfit", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    background-color: #d6e2ef;
}

.qr-section {
    display: flex;
    justify-content: center;
    align-items: center; 
    height: 100vh; 
}

.qr-container {
    display: flex;
    flex-direction: column;
    height: 499px;
    max-width: 320px;
    text-align: center;
    border-radius: 1.25rem;
    background-color: #ffffff;
}

#qr-image {
    width:288px;
    height: auto;
    border-radius: 10px;
    margin-top: 1rem;
}

#qr-bold-text {
    font-weight: 700;
    color: 	#1f3251;
    margin: 1.25rem 1rem;;
}

#qr-fill-text {
    font-weight: 240;
    font-size: 1rem;
    margin: 0rem 1.5rem 1rem 1.25rem;
}

p {
    font-size: 15px;
    color: #68778d;
}